.container-1 {
  position: relative;
  background: #aaa;
  height: 400px;
  width: 500px;
}

.element-1 {
  position: absolute;
  background: rgb(255, 119, 119);
  height: 300px;
  width: 300px;

  /* push object to left right:0 */
  right: 10px;

  bottom: 10px;
}

.element-2 {
  position: absolute;
  background: rgb(255, 255, 187);
  height: 80px;
  width: 80px;
  top: 5px;
  left: 0;
}